#pagination {
    text-align: center;
    padding-bottom: 60px;
    
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    margin: 0 5px;
}

#pagination a:hover {
    background-color: #c49618;
    color: white;

}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}